if SHIELD_CHOCOFI_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_KEYBOARD_NAME
    default "chocofi"


endif


if SHIELD_CHOCOFI_LEFT || SHIELD_CHOCOFI_RIGHT

config ZMK_SPLIT
    default y
    
config ZMK_SPLIT_BLE

config BT
    default y
    
config ZMK_BLE
    default y

config ZMK_SLEEP
    default y

config ZMK_IDLE_SLEEP_TIMEOUT
    default 3600000

config ZMK_COMBO_MAX_COMBOS_PER_KEY
    default 20

config ZMK_COMBO_MAX_PRESSED_COMBOS
    default 20
endif
